<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="node_modules/swagger-ui-dist/swagger-ui.css" />
<body>
<div id="swagger-ui"></div>
<script src="node_modules/swagger-ui-dist/swagger-ui-bundle.js"></script>
<script src="node_modules/swagger-ui-dist/swagger-ui-standalone-preset.js"></script>
<script type="text/javascript">
    window.onload = function() {
        // Build a system
        const ui = SwaggerUIBundle({
            url: "http://localhost:8080/json",
            dom_id: '#swagger-ui',
            presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset,
        ],

            plugins: [
            SwaggerUIBundle.plugins.DownloadUrl
        ],

            layout: "StandaloneLayout",
    })
    }

</script>
</body>
</html>